.drawer--right .drawer-hamburger {
  background: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 0 0 0 20px;
  padding: 20px; }
  @media only screen and (max-width: 768px) {
    .drawer--right .drawer-hamburger {
      width: 40px;
      height: 40px;
      border-radius: 0 0 0 15px;
      padding: 10px; } }
  .drawer--right .drawer-hamburger .drawer-hamburger-icon, .drawer--right .drawer-hamburger .drawer-hamburger-icon:after, .drawer--right .drawer-hamburger .drawer-hamburger-icon:before {
    background-color: #fff; }
.drawer--right .drawer-hamburger:hover {
  background: rgba(0, 0, 0, 0.3); }
.drawer--right .drawer-nav {
  background: rgba(0, 0, 0, 0.5);
  width: 40%;
  padding: 20% 5%;
  box-sizing: border-box;
  right: -40%;
  z-index: 29000; }
  @media only screen and (max-width: 768px) {
    .drawer--right .drawer-nav {
      width: 75%;
      right: -75%; } }
.drawer--right .drawer-menu .drawer-menu-item {
  color: #fff;
  transition: all 0.8s;
  padding: 1em 0;
  padding-left: 10px;
  font-size: 120%;
  font-weight: 500;
  text-decoration: none; }
.drawer--right .drawer-menu .drawer-menu-item:hover {
  color: rgba(255, 255, 255, 0.6); }
.drawer--right .drawer-menu i {
  color: #e1b9b9;
  font-size: 150%; }
.drawer--right .drawer-menu .drawer_nav_sns {
  display: inline-block; }

.drawer--right.drawer-open .drawer-hamburger {
  right: 0px;
  background-color: transparent;
  z-index: 30000; }
.drawer--right.drawer-open .drawer-hamburger-icon {
  background-color: transparent; }
