@charset "UTF-8";

$media-pc: 1920px;
$media-sp: 768px;

@mixin pc {
  @media only screen and (min-width: $media-pc ) {
    @content;  
  }
}
@mixin sp {
  @media only screen and (max-width: $media-sp) {
    @content;
  }
}
body .lazy_load_text { //main lazy load text
	transition:all 0.7s;
	.ex1 {
	opacity: 0;
	perspective: 200px;
		span {
		transform: rotateY(-90deg);
		opacity: 0;
		}
	}
}
section.top_introduction {
		padding-bottom: 60px;
		border-bottom: solid 1px rgba(225,185,185,1.00);
		margin-bottom: 65px;
		@include sp { //smart phone
			padding-bottom: 40px;
		}
	.introduction_img {
		width: 20%;
		img {
			width: 100%;
			height: auto;
			border-radius: 400px;
		}
		@include sp { //smart phone　　　　　　　 
			width: 100%;
			text-align: center;
			margin-bottom: 30px;
			img {
				width: 50%;
			}
		}
	}
	.introduction_contents {
		width: 70%;
		padding-left: 95px;
		.title_box {
			align-items: center;
		}
		h1 {
			font-size: 200%;
			padding-right: 30px;
			@include sp { //smart phone　　　　　　　　 
				font-size: 180%;
			}
		}
		h1::after {
			content: '';
			display: inline-block;
			background-image: url(../images/top/budge_check.svg);
			background-repeat: no-repeat;
			background-size: contain;
			vertical-align: middle;
			width: 28px;
			height: 28px;
			padding-left: 10px;
			@include sp { //smart phone 　　　　　　　　 
				width: 20px;
				height: 20px;
			}
		}				
		.follow_button {
			width: 10em;
			height: 2em;
			background-color: rgba(225,185,185,1.00);
			border-radius: 5px;
			a {
				color: #fff;
			}
			@include sp { //smart phone　　　　　　　 
				width: 7em;
			}
		}
		h2 {
			font-size: 1.3em;
			margin-bottom: 0.5em;
		}
		div {
			margin-bottom: 20px;
			li {
				display: inline-block;
				font-size: 1.1em;
				span {
					font-size: 1.2em;
					padding-left: 0.2em;
					font-weight: bold;
					letter-spacing: 0;
				}
			}
		}
		.text_area p {
			margin-bottom: 5px;
		}
		@include sp { //smart phone 　　　　　　　　 
			width: 100%;
			padding-left: 0;
		}
	}
}

div.top_contents_area {
	justify-content: space-between;
	margin-bottom: 40px;
	.contents_box {
		width: 28%;
		height: auto;
		position: relative;
		margin-bottom: 5em;
		text-align: center;
		img {
			width: 100%;
			height: auto;
		}
		@include sp { //smart phone
			margin-bottom: 2em;
		}
		.contents_mask {
			background-color: rgba(197,127,127,0.5);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			opacity: 0;
			transition: 0.6s;
			-webkit-flex-direction: column; //Safari
			flex-direction: column;
			justify-content: center;
			font-weight: normal;
			color: #fff;
			font-size: 90%;
			img {
				width: 70%;
				height: auto;
			}
			p {
				padding: 5px 0;
			}
		}
		.contents_mask:hover {
			opacity: 1;
			transition: 0.8s;
		}
		.contents_mask_img {
			width: 100%;
		}
		@include sp { //smart phone 　　　　　　　　 
			width: 45%;
		}
	}
}

//fadein animation
.fadein{
    opacity : 0;
    transform : translate(0, 100px);
    transition:all 1.2s;
	display: block;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
.fadein_about{
    opacity : 0;
    transform : translate(0, 60px);
    transition:all 1.2s;
	display: block;
}
.fadein_about.about_scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
.fadein_works{
    opacity : 0;
    transform : translate(0, 60px);
    transition:all 1.7s;
	display: block;
}
.fadein_works.works_scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
.fadein_gallery{
    opacity : 0;
    transform : translate(0, 60px);
    transition:all 2.2s;
	display: block;
}
.fadein_gallery.gallery_scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

